7.3

In [ ]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://www.cba.am/am/SitePages/Default.aspx'
browser.get(url)

In [5]:
element=browser.find_element_by_css_selector('#ctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a_updatePanelctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a > li.gray_2 > em:nth-child(3)')

In [7]:
ex_rate=element.text

In [9]:
print 'Official AMD/USD current exchange rate is ' + ' '+ str(ex_rate)

Official AMD/USD current exchange rate is  478.82

In [29]:
browser.close()

7.3 other version

In [32]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://www.cba.am/am/SitePages/Default.aspx'
browser.get(url)

In [33]:
element = browser.find_element_by_class_name("sett")
element.click()

In [35]:
bot=browser.find_element_by_css_selector('#cur1')
bot.click()

In [36]:
submit = browser.find_element_by_xpath("//*[@onclick='javascript:SaveSettings()']")
submit.click()

In [38]:
ex_rate = browser.find_elements_by_xpath("//em[@class='w_50']")[-1].text
print 'Official AMD/USD current exchange rate is ' + ' '+ str(ex_rate)

Official AMD/USD current exchange rate is  478.82

In [39]:
browser.close()

7.2

In [10]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://staff.am/en'
browser.get(url)

In [11]:
training=browser.find_element_by_css_selector('#jobsearchform-type > label:nth-child(2) > input[type="radio"]')
training.click()
search=browser.find_element_by_css_selector('#w0 > div > div.col-lg-2.col-sm-2.search-btn > button')
search.click()

In [12]:
list=browser.find_elements_by_class_name("job-list-item")

In [14]:
import re

In [15]:
list_price=[]
for i in list:
    m=re.findall('Price:\s+(.+\s*.+)',i.text)
    list_price.append(m)

In [16]:
for i in range(len(list_price)):
    list_price[i]=list_price[i][0]

In [20]:
page2=browser.find_element_by_css_selector('#job-list-pagination > ul > li:nth-child(3) > a')
page2.click()

In [21]:

price=browser.find_elements_by_class_name("job-list-item")
list_price2=[]
for i in price:
    m=re.findall('Price:\s+(.+\s*.+)',i.text)
    list_price2.append(m)
list_price2

[[u'FREE\ne-learning']]

In [22]:
for i in range(len(list_price2)):
    list_price2[i]=list_price2[i][0]

In [23]:
for i in list_price2:
    list_price.append(i)
list_price

[u'84000 AMD\nTraining',
 u'48000 AMD\nTraining',
 u'50000 AMD\nTraining',
 u'69000 AMD\nTraining',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'73000 AMD\nTraining',
 u'52000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'45000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'125000 AMD\nTraining',
 u'4800 AMD\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning']

In [24]:
list1=[]
for i in  list_price:
    k=re.sub("FREE\ne-learning",'0',i) 
    list1.append(k)

In [25]:
list2=[]
for i in  list1:
    k=re.sub("AMD\n.+",'',i) 
    list2.append(k)

In [27]:
n=len(list2)
sum=0
for i in list2:
    
    p=float(i)
    sum=sum+p

In [28]:
average=sum/n 
print "Average training price is " +str(average)+" AMD"

Average training price is 35371.4285714 AMD

In [ ]:
browser.close()

7.1

In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash'
browser.get(url)

In [2]:
import pandas as pd

In [8]:
data_table = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))

In [9]:
data_table = data_table[0]
data_table = data_table[2:19] 
del data_table[0]
del data_table[2]
del data_table[3]    
data_table.columns = ["Bank", "Date", "USD_buy", "USD_sell", "EUR_buy", "EUR_sell", "RUB_buy", "RUB_sell", "GBF_buy", "GBF_sell"]

In [11]:
with open('ex_rates_data.csv', 'w') as f:
            data_table.to_csv(f, header=True, index=False)

In [12]:
data_table

,Bank,Date,USD_buy,USD_sell,EUR_buy,EUR_sell,RUB_buy,RUB_sell,GBF_buy,GBF_sell
2,Ameriabank,"21 Jul, 20:01",476.50,480.50,554,562.0,7.96,8.21,616.0,626.0
3,Artsakhbank,"21 Jul, 20:01",477,480.50,553,562.5,7.98,8.20,615.0,630.0
4,HSBC Bank Armenia,"21 Jul, 20:01",476.50,480.50,552.50,562.5,7.93,8.26,616.0,628.0
5,Unibank,"21 Jul, 20:01",476.50,480,551,561.0,8.00,8.25,612.0,632.0
6,VTB Bank (Armenia),"21 Jul, 20:01",477.25,480.25,552,562.0,8.00,8.22,616.0,630.0
7,Inecobank,"21 Jul, 20:01",477.25,480.25,551,561.0,8.00,8.21,616.5,627.5
8,Anelik Bank,"21 Jul, 20:01",477,480.50,551,561.0,8.06,8.24,NaN,NaN
9,Byblos Bank Armenia,"21 Jul, 20:01",477,480.50,552,561.0,8.00,8.25,615.0,627.0
10,ArmSwissBank,"21 Jul, 20:01",477,480,554,560.0,8.05,8.23,617.0,624.0
11,Ardshinbank,"21 Jul, 20:01",477.50,480.50,553,563.0,8.00,8.25,616.0,631.0
12,ArmBusinessBank,"21 Jul, 20:01",477,480,554.10,562.1,8.02,8.24,615.1,628.1
13,ACBA-Credit Agricole..,"21 Jul, 20:01",477,480.50,553,561.5,8.07,8.20,616.0,631.0
14,Mellat Bank,"21 Jul, 20:01",476.50,480.50,553,561.0,NaN,NaN,NaN,NaN
15,ARMECONOMBANK,"21 Jul, 20:01",477,480.50,550,565.0,8.01,8.24,613.0,632.0
16,Converse Bank,"21 Jul, 20:00",476.50,480,552,560.0,8.02,8.21,616.0,625.0
17,ARARATBANK,"21 Jul, 20:00",476.50,480,547,565.0,8.01,8.30,609.0,632.0
18,Prometey Bank,"21 Jul, 20:00",477,480,551,561.0,8.04,8.18,616.0,626.0

In [13]:
browser.close()