7.3

In [ ]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://www.cba.am/am/SitePages/Default.aspx'
browser.get(url)

In [5]:
element=browser.find_element_by_css_selector('#ctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a_updatePanelctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a > li.gray_2 > em:nth-child(3)')

In [7]:
ex_rate=element.text

In [9]:
print 'Official AMD/USD current exchange rate is ' + ' '+ str(ex_rate)

Official AMD/USD current exchange rate is  478.82

In [29]:
browser.close()

7.3 other version

In [32]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://www.cba.am/am/SitePages/Default.aspx'
browser.get(url)

In [33]:
element = browser.find_element_by_class_name("sett")
element.click()

In [35]:
bot=browser.find_element_by_css_selector('#cur1')
bot.click()

In [36]:
submit = browser.find_element_by_xpath("//*[@onclick='javascript:SaveSettings()']")
submit.click()

In [38]:
ex_rate = browser.find_elements_by_xpath("//em[@class='w_50']")[-1].text
print 'Official AMD/USD current exchange rate is ' + ' '+ str(ex_rate)

Official AMD/USD current exchange rate is  478.82

In [39]:
browser.close()

7.2

In [10]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'https://staff.am/en'
browser.get(url)

In [11]:
training=browser.find_element_by_css_selector('#jobsearchform-type > label:nth-child(2) > input[type="radio"]')
training.click()
search=browser.find_element_by_css_selector('#w0 > div > div.col-lg-2.col-sm-2.search-btn > button')
search.click()

In [12]:
list=browser.find_elements_by_class_name("job-list-item")

In [14]:
import re

In [15]:
list_price=[]
for i in list:
    m=re.findall('Price:\s+(.+\s*.+)',i.text)
    list_price.append(m)

In [16]:
for i in range(len(list_price)):
    list_price[i]=list_price[i][0]

In [20]:
page2=browser.find_element_by_css_selector('#job-list-pagination > ul > li:nth-child(3) > a')
page2.click()

In [21]:

price=browser.find_elements_by_class_name("job-list-item")
list_price2=[]
for i in price:
    m=re.findall('Price:\s+(.+\s*.+)',i.text)
    list_price2.append(m)
list_price2

[[u'FREE\ne-learning']]

In [22]:
for i in range(len(list_price2)):
    list_price2[i]=list_price2[i][0]

In [23]:
for i in list_price2:
    list_price.append(i)
list_price

[u'84000 AMD\nTraining',
 u'48000 AMD\nTraining',
 u'50000 AMD\nTraining',
 u'69000 AMD\nTraining',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'73000 AMD\nTraining',
 u'52000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'45000 AMD\nTraining',
 u'96000 AMD\ne-learning',
 u'125000 AMD\nTraining',
 u'4800 AMD\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning',
 u'FREE\ne-learning']

In [24]:
list1=[]
for i in  list_price:
    k=re.sub("FREE\ne-learning",'0',i) 
    list1.append(k)

In [25]:
list2=[]
for i in  list1:
    k=re.sub("AMD\n.+",'',i) 
    list2.append(k)

In [27]:
n=len(list2)
sum=0
for i in list2:
    
    p=float(i)
    sum=sum+p

In [28]:
average=sum/n 
print "Average training price is " +str(average)+" AMD"

Average training price is 35371.4285714 AMD

In [ ]:
browser.close()

7.1

In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash'
browser.get(url)

In [2]:
import pandas as pd

In [8]:
data_table = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))

In [9]:
data_table = data_table[0]
data_table = data_table[2:19] 
del data_table[0]
del data_table[2]
del data_table[3]    
data_table.columns = ["Bank", "Date", "USD_buy", "USD_sell", "EUR_buy", "EUR_sell", "RUB_buy", "RUB_sell", "GBF_buy", "GBF_sell"]

In [11]:
with open('ex_rates_data.csv', 'w') as f:
            data_table.to_csv(f, header=True, index=False)

In [30]:
data_table

,Bank,Date,USD_buy,USD_sell,EUR_buy,EUR_sell,RUB_buy,RUB_sell,GBF_buy,GBF_sell
2,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",477,480,547.10,554.1,8.02,8.24,617.1,629.1
4,Անելիք Բանկ,"20 Jul, 20:00",477,480.50,546,556.0,8.04,8.22,NaN,NaN
5,Յունիբանկ,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
6,Կոնվերս բանկ,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0
7,Արցախբանկ,"20 Jul, 20:00",477,480,547,555.0,7.99,8.20,614.0,629.0
8,Արմսվիսբանկ,"20 Jul, 20:00",477,480,548,554.0,8.04,8.22,617.0,624.0
9,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,"20 Jul, 20:00",477,480.50,546.50,554.0,8.05,8.18,612.0,627.0
10,Ամերիաբանկ,"20 Jul, 20:00",476.50,480.50,551.50,559.5,7.97,8.22,616.5,626.5
11,Արդշինբանկ,"20 Jul, 20:00",477.50,480.50,548,558.0,7.97,8.22,618.0,633.0
12,ԱՐԱՐԱՏԲԱՆԿ,"20 Jul, 20:00",477.50,480.50,543,561.0,8.04,8.25,610.0,633.0
13,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,"20 Jul, 20:00",477,480.50,547,555.0,8.06,8.23,611.0,630.0
14,Պրոմեթեյ Բանկ,"20 Jul, 20:00",477,480,548,556.0,8.06,8.16,614.0,625.0
15,ՎՏԲ-Հայաստան Բանկ,"20 Jul, 20:00",477.25,480,547,553.5,8.06,8.18,619.0,630.0
16,Ինեկոբանկ,"20 Jul, 20:00",477.25,480.25,547,559.0,7.95,8.20,613.0,626.0
17,Մելլաթ բանկ,"20 Jul, 20:00",476,480,547,555.0,NaN,NaN,NaN,NaN
18,Բիբլոս Բանկ Արմենիա,"20 Jul, 20:00",477,480.50,547,555.0,7.99,8.24,618.0,629.0

In [13]:
browser.close()

7.1 for July20

In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
url = 'http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash'
browser.get(url)

In [33]:
import pandas as pd
from unicodecsv import *
import csv

In [3]:
date_bot=browser.find_element_by_css_selector('#aspnetForm > div.cnt > div.cnt-body > div.cnt-left > div.rb-de > div.archive > table > tbody > tr > td:nth-child(1) > a')

In [4]:
date_bot.click()

In [5]:
Jul20=browser.find_element_by_css_selector('#calBorder > span > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(5) > td:nth-child(4)')
Jul20.click()

In [6]:
show=browser.find_element_by_css_selector('#ctl00_Content_RB_dtpick1_btnOk')
show.click()

In [7]:
data_table = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTMLbrowser.close

In [8]:
data_table = data_table[0]
data_table = data_table[2:19] 
del data_table[0]
del data_table[2]
del data_table[3]    
data_table.columns = ["Bank", "Date", "USD_buy", "USD_sell", "EUR_buy", "EUR_sell", "RUB_buy", "RUB_sell", "GBF_buy", "GBF_sell"]

In [34]:
with open('ex_rates_July20.csv', 'w') as f:
            data_table.to_csv(f, header=True, index=False, encoding="utf-8")

In [35]:
data_table

,Bank,Date,USD_buy,USD_sell,EUR_buy,EUR_sell,RUB_buy,RUB_sell,GBF_buy,GBF_sell
2,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:01",476.50,480.50,550,558.0,7.99,8.23,616.5,625.5
3,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",477,480,547.10,554.1,8.02,8.24,617.1,629.1
4,Անելիք Բանկ,"20 Jul, 20:00",477,480.50,546,556.0,8.04,8.22,NaN,NaN
5,Յունիբանկ,"20 Jul, 20:00",476.50,480,546,556.0,8.00,8.25,612.0,632.0
6,Կոնվերս բանկ,"20 Jul, 20:00",476.50,480,547,555.0,8.02,8.21,619.0,627.0
7,Արցախբանկ,"20 Jul, 20:00",477,480,547,555.0,7.99,8.20,614.0,629.0
8,Արմսվիսբանկ,"20 Jul, 20:00",477,480,548,554.0,8.04,8.22,617.0,624.0
9,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,"20 Jul, 20:00",477,480.50,546.50,554.0,8.05,8.18,612.0,627.0
10,Ամերիաբանկ,"20 Jul, 20:00",476.50,480.50,551.50,559.5,7.97,8.22,616.5,626.5
11,Արդշինբանկ,"20 Jul, 20:00",477.50,480.50,548,558.0,7.97,8.22,618.0,633.0
12,ԱՐԱՐԱՏԲԱՆԿ,"20 Jul, 20:00",477.50,480.50,543,561.0,8.04,8.25,610.0,633.0
13,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,"20 Jul, 20:00",477,480.50,547,555.0,8.06,8.23,611.0,630.0
14,Պրոմեթեյ Բանկ,"20 Jul, 20:00",477,480,548,556.0,8.06,8.16,614.0,625.0
15,ՎՏԲ-Հայաստան Բանկ,"20 Jul, 20:00",477.25,480,547,553.5,8.06,8.18,619.0,630.0
16,Ինեկոբանկ,"20 Jul, 20:00",477.25,480.25,547,559.0,7.95,8.20,613.0,626.0
17,Մելլաթ բանկ,"20 Jul, 20:00",476,480,547,555.0,NaN,NaN,NaN,NaN
18,Բիբլոս Բանկ Արմենիա,"20 Jul, 20:00",477,480.50,547,555.0,7.99,8.24,618.0,629.0

In [31]:
browser.close()